<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="TestCombo"  parallel="test" >
    <classes>
      <class name="TestCases.AddUserTest"/>
      <class name="TestCases.LoginTest"/>
    </classes>
  </test> <!-- TestCombo -->
</suite> <!-- Suite -->
